################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProphecyInternational.Common/bin/Debug
/ProphecyInternational.Common/obj/Debug
/ProphecyInternational.Database/bin/Debug/net8.0
/ProphecyInternational.Database/obj
